.root {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  border: 1px solid var(--primaryBorderColor);
}

.topPanel {
  padding: 1rem;
}

.bottomPanel {
  overflow: auto;
  height: calc(100vh - 98px);
}

.cryptoCount {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
