body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  --helpTextColor: #6a737d;
  --helpTextLightColor: #959da5;
  --primaryBackgroundColor: #f5f7ff;
  --gray-25: #fafbfc;
  --gray-200: #efefef;
  --gray-500: #6a737d;
  --primaryTextColor: #24292e;
  --primaryBorderColor: #e1e4e8;
  --secondaryBorderColor: #d1d5da;
  --activeBorderColor: #5d6bce;
  --successColor: #8bc34a;
  --failureColor: #db4949;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
